<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lifestyle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <img class="logo" src="IMAGE/profile.jpg">
                    <div class="Links">

                    </div>
                </nav>
            </header>
            <section class="info">
                <h1 class="Lifestyle_font">Patcharapol Pannaen</h1>
                <div class="icons">
                    <div class="icon">
                        <img src="IMAGE/FB.svg">
                        <div class="icon_info">
                        <p class="icon_top">Patchara</p>
                        <p class="icon_bottom">Facebook</p>
                    </div>
                </div>
                    <div class="icons">
                        <div class="icon">
                            <img src="IMAGE/toppng 1.svg">
                            <div class="icon_info">
                            <p class="icon_top">Patcharrx_</p>
                            <p class="icon_bottom">Instagram</p>
                        </div>
                    </div>
                        <div class="icons">
                    <div class="icon">
                        <img src="IMAGE/Mail 1.svg">
                        <div class="icon_info">
                        <p class="icon_top">Email</p>
                        <p class="icon_bottom">Patchapon.Pann@bumail.net</p>
                    </div>
                </div>
            </div>
            </section>
            <section class="features">
                <div class="feature">
                    <img src="IMAGE/healthy 1.jpg">
                    <div class="feature_info">
                        <p class="feature_top">Bangkok University</p>
                        <p class="feature_bot">Computer & Robotic Engineering.</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature_info">
                        <p class="feature_top">1630900130</p>
                        <p class="feature_bot">Birthday 31/01/2002 .</p>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature_info">
                        <p class="feature_top">Learn more</p>
                    </div>
                </div>
                
            </section>
        </main>
        <script src="" async defer></script>
    </body>
</html>